body {
	background-color:blue;
	color:white;
	font-family:calibri;
	font-size:12pt;
	line-height:1.75em;
	margin:30px;
}
.domicilio {
	width:700px;
}
#tipo {
	width:150px;
}	
#tipoemp{
	width:700px;
}
